<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your trading journey with Ouroboros">
    <meta name="author" content="Francesco Stucci">
    <title>Ouroboros | Rule Them All</title>

    <link rel="icon" type="image/png" href="static/imgs/logo.png" />

    <link rel="stylesheet" href="static/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="static/vendors/owl-carousel/css/owl.carousel.css">
    <link rel="stylesheet" href="static/vendors/owl-carousel/css/owl.theme.default.css">

	<link rel="stylesheet" href="static/css/main.css">

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <nav id="scrollspy" class="navbar navbar-light bg-light navbar-expand-lg fixed-top" data-spy="affix" data-offset-top="20">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="static/imgs/logo.png" alt="" class="brand-img"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#usecase">Use Case</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#howitworks">How It Works</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#exchanges">Supported Exchanges</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <header id="home" class="header">
        <div class="overlay"></div>

        <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">  
            <div class="container">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Welcome to</h3>
                            <h1 class="carousel-title">Ouroboros</h1>
                            <div class="navbar">
                                <a class="nav-link" href="#usecase"><button class="btn btn-primary btn-rounded">Learn more</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
        </div>

        <div class="infos container mb-4 mb-md-2">
            <div class="title">
                <h6 class="subtitle font-weight-normal">One platform</h6>
                <h5>To Rule Them All</h5>
                <p class="font-small">and in the trading world bind them</p>
            </div>
            <div class="socials text-right">
                <div class="row justify-content-between">
                    <div class="col">
                        <h6 class="subtitle font-weight-normal mb-2">Social Media</h6>
                        <div class="social-links">
                            <a href="https://github.com/francestu96/ouroboros_public" class="link pr-1"><i class="ti-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <section class="section" id="usecase">
        <div class="container">
            <h6 class="xs-font mb-0">why to use Ouroboros</h6>
            <h3 class="section-title">Use Case</h3>
        </div>

        <div id="owl-portfolio" class="owl-carousel owl-theme mt-4">
            <a href="javascript:void(0)" class="item expertises-item">
                <img src="static/imgs/img-1.jpg"alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, ollie Landing page" class="box-shadow">
                <h6 class="mt-3 mb-2">Working Strategy</h6>
                <p class="xs-font">You have found the <b>trading strategy</b> fits you the best</p>
            </a> 
            <a href="javascript:void(0)" class="item expertises-item">
                <img src="static/imgs/img-2.jpg"alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, ollie Landing page" class="box-shadow">
                <h6 class="mt-3 mb-2">Good Backtest</h6>
                <p class="xs-font">You have used <b>TradingView</b> backtaster and you are fine with the results</p>
            </a> 
            <a href="javascript:void(0)" class="item expertises-item">
                <img src="static/imgs/img-3.jpg"alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, ollie Landing page" class="box-shadow">
                <h6 class="mt-3 mb-2">Cannot connect TradingView with your Exchange</h6>
                <p class="xs-font">Yet you will not be able to apply your strategy in <b>Real-Time</b> with your favorite <b>exchange</b> because TradingView cannot connect to it</p>
            </a> 
            <a href="javascript:void(0)" class="item expertises-item">
                <img src="static/imgs/img-4.jpg"alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, ollie Landing page" class="box-shadow">
                <h6 class="mt-3 mb-2">Here is where Ouroboros comes in!</h6>
                <p class="xs-font">It allows you to convert TradingView <b>long</b> and <b>short</b> signals to real-time orders in your broker!</p>
            </a>             
        </div>
    </section>

    <section class="section" id="howitworks">
        <div class="container">
            <h6 class="xs-font mb-0">how to use Ouroboros</h6>
            <h3 class="section-title">How It Works</h3>

            <div class="row text-center">
                <div class="col-lg-4">
                    <a href="javascript:void(0)" class="card border-0 text-dark">
                        <img class="card-img-top" src="static/imgs/img-5.jpg" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, ollie Landing page">
                        <span class="card-body">
                            <h4 class="title mt-4">Create your keys</h4>
                            <p class="xs-font">You need to create your <b>trading keys</b> from your exchange</p>
                        </span>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="javascript:void(0)" class="card border-0 text-dark">
                        <img class="card-img-top" src="static/imgs/img-6.jpg" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, ollie Landing page">
                        <span class="card-body">
                            <h4 class="title mt-4">Create TradingView alert hook</h4>
                            <p class="xs-font">Point your alert hook in TradingView to <b style="font-family: system-ui;">https://ouroboros-0.herokuapp.com/webhook</b></p>
                        </span>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="javascript:void(0)" class="card border-0 text-dark">
                        <img class="card-img-top" src="static/imgs/img-7.jpg" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, ollie Landing page">
                        <span class="card-body">
                            <h4 class="title mt-4">Enjoy your trading!</h4>
                            <p class="xs-font">Configure the settings and sleep while your strategy is making money for you!</p>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="exchanges">
        <div class="container">
            <div class="row align-items-center mr-auto">
                <div class="col-md-4">
                    <h6 class="xs-font mb-0">where to use Ouroboros</h6>
                    <h3 class="section-title">Supported Exchanges</h3>
                    <p>
                        This is the list of the currently supported <b>Exchanges</b>.<br>
                        This list is going to be expanded for new customer requests, so do not esistate to contact us!                         
                    </p>

                    <a href="https://github.com/francestu96/ouroboros_public">Read more on GitHub...</a>
                </div>
                <div class="col-sm-6 col-md-4 ml-auto">
                    <div class="widget">
                        <div class="icon-wrapper">
                            <img src="static/imgs/binance-logo.png" style="width: 40px;">
                        </div>
                        <div class="infos-wrapper">
                            <h4 class="text-primary">Binance</h4>
                            <p>the most used exchange</p>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="icon-wrapper">
                            <img src="static/imgs/ftx-logo.png" style="width: 40px;">
                        </div>
                        <div class="infos-wrapper">
                            <h4 class="text-primary">FTX</h4>
                            <p>by popular demand</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="widget">
                        <div class="icon-wrapper">
                            <img src="static/imgs/crypto.com-logo.png" style="width: 40px;">
                        </div>
                        <div class="infos-wrapper">
                            <h4 class="text-primary">Crypto.com</h4>
                            <p>european best provider</p>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="icon-wrapper">
                            <i class="ti-star"></i>
                        </div>
                        <div class="infos-wrapper">
                            <h4 class="text-primary">Cooming Soon...</h4>
                            <p>list will be expanded</p>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </section>

    <section class="section bg-overlay">

        <div class="container">
            <div class="infos mb-4 mb-md-2">
            <div class="title">
                <h6 class="subtitle font-weight-normal">For information and use</h6>
                <h5>Ouroboros</h5>
                <p class="font-small">send an email to <a href="mailto:J4ckSp4rr0w@protonmail.com" class="d-block subtitle"><i class="ti-email"></i> J4ckSp4rr0w@protonmail.com</a></p>
            </div>
        </div> 
        </div>
    </section>
	
    <script src="static/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="static/vendors/bootstrap/bootstrap.bundle.js"></script>

	<script src="static/vendors/bootstrap/bootstrap.affix.js"></script>
    
    <script src="static/vendors/owl-carousel/js/owl.carousel.js"></script>
    <script src="static/js/main.js"></script>
</body>
</html>
